.manager-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px 0 20px;
}

.manager-item {
  border: 3px solid #2c0a3e;
  padding: 10px;
}

.manager-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.manager-details p {
  margin: 5px 0;
}
