.admin-page {
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    td:first-child,
    th:first-child {
      width: 60px;
      text-align: center;
    }
  }
}
